**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__
validation/01_klebsiella/tools_runs/gempipe_rf/working/rec_broken/sequences.csv
validation/01_klebsiella/tools_runs/gempipe_rf/working/rec_masking/sequences.csv
validation/01_klebsiella/tools_runs/gempipe_rf/working/clustering/sequences.csv
validation/01_klebsiella/tools_runs/gempipe_rf/working/clustering/combined.faa
validation/01_klebsiella/tools_runs/gempipe_rf/working/rec_overlap/sequences.csv
validation/01_klebsiella/tools_runs/gempipe/working/rec_broken/sequences.csv
validation/01_klebsiella/tools_runs/gempipe/working/rec_masking/sequences.csv
validation/01_klebsiella/tools_runs/gempipe/working/clustering/sequences.csv
validation/01_klebsiella/tools_runs/gempipe/working/clustering/combined.faa
validation/01_klebsiella/tools_runs/gempipe/working/rec_overlap/sequences.csv
validation/03_pseudomonas/tools_runs/gempipe_rf/working/rec_broken/sequences.csv
validation/03_pseudomonas/tools_runs/gempipe_rf/working/rec_masking/sequences.csv
validation/03_pseudomonas/tools_runs/gempipe_rf/working/clustering/sequences.csv
validation/03_pseudomonas/tools_runs/gempipe_rf/working/clustering/combined.faa
validation/03_pseudomonas/tools_runs/gempipe_rf/working/rec_overlap/sequences.csv
validation/03_pseudomonas/tools_runs/gempipe/working/rec_broken/sequences.csv
validation/03_pseudomonas/tools_runs/gempipe/working/rec_masking/sequences.csv
validation/03_pseudomonas/tools_runs/gempipe/working/clustering/sequences.csv
validation/03_pseudomonas/tools_runs/gempipe/working/clustering/combined.faa
validation/03_pseudomonas/tools_runs/gempipe/working/rec_overlap/sequences.csv
case_study/fastani/ANIclustermap.svg
case_study/gempipe/working/coordinates/seq_to_coords.pickle
case_study/gempipe/working/rec_broken/sequences.csv
case_study/gempipe/working/rec_masking/sequences.csv
case_study/gempipe/working/clustering/sequences.csv
case_study/gempipe/working/clustering/combined.faa
case_study/gempipe/working/rec_overlap/sequences.csv
old/validation/01_klebsiella/validation/gempipe/working/rec_broken/sequences.csv
old/validation/01_klebsiella/validation/gempipe/working/rec_masking/sequences.csv
old/validation/01_klebsiella/validation/gempipe/working/clustering/sequences.csv
old/validation/01_klebsiella/validation/gempipe/working/clustering/combined.faa
old/validation/01_klebsiella/validation/gempipe/working/rec_overlap/sequences.csv
old/validation/03_pseudomonas/validation/gempipe_tcdb/working/rec_broken/sequences.csv
old/validation/03_pseudomonas/validation/gempipe_tcdb/working/rec_masking/sequences.csv
old/validation/03_pseudomonas/validation/gempipe_tcdb/working/clustering/sequences.csv
old/validation/03_pseudomonas/validation/gempipe_tcdb/working/clustering/combined.faa
old/validation/03_pseudomonas/validation/gempipe_tcdb/working/rec_overlap/sequences.csv
old/validation/03_pseudomonas/validation/gempipe/working/rec_broken/sequences.csv
old/validation/03_pseudomonas/validation/gempipe/working/rec_masking/sequences.csv
old/validation/03_pseudomonas/validation/gempipe/working/clustering/sequences.csv
old/validation/03_pseudomonas/validation/gempipe/working/clustering/combined.faa
old/validation/03_pseudomonas/validation/gempipe/working/rec_overlap/sequences.csv
old/case_study/fastani/ANIclustermap.svg
old/case_study/gempipe/working/coordinates/seq_to_coords.pickle
old/case_study/gempipe/working/rec_broken/seq_to_coords.pickle
old/case_study/gempipe/working/rec_broken/sequences.csv
old/case_study/gempipe/working/rec_masking/seq_to_coords.pickle
old/case_study/gempipe/working/rec_masking/sequences.csv
old/case_study/gempipe/working/clustering/sequences.csv
old/case_study/gempipe/working/clustering/combined.faa
old/case_study/gempipe/working/rec_overlap/seq_to_coords.pickle
old/case_study/gempipe/working/rec_overlap/sequences.csv
dbs/eggnog_proteins.dmnd
dbs/eggnog.taxa.db
dbs/eggnog.db
dbs/
old/

validation/slurm

validation/*/genomes_renamed
validation/*/reference/*_edited.xml
validation/*/tables/genomes.xlsx
validation/*/tables/biolog_exp.csv
validation/*/tables/biolog_match.csv
validation/*/tables/biolog_fns.csv
validation/*/tables/memote.csv
validation/*/tables/contents.csv
validation/*/tables/recovered.csv


validation/*/tools_runs/bactabolize/*
validation/*/tools_runs/carveme/*
validation/*/tools_runs/gapseq/*
validation/*/tools_runs/gempipe/*
validation/*/tools_runs/gempipe_rf/*


!validation/01_klebsiella/tools_runs/bactabolize/run.sh
!validation/01_klebsiella/tools_runs/carveme/run.sh
!validation/01_klebsiella/tools_runs/gapseq/run.sh
!validation/01_klebsiella/tools_runs/gempipe/run.sh
!validation/01_klebsiella/tools_runs/gempipe/mancor.txt
!validation/01_klebsiella/tools_runs/gempipe_rf/run.sh

!validation/02_ralstonia/tools_runs/bactabolize/run.sh
!validation/02_ralstonia/tools_runs/carveme/run.sh
!validation/02_ralstonia/tools_runs/gapseq/run.sh
!validation/02_ralstonia/tools_runs/gempipe/run.sh
!validation/02_ralstonia/tools_runs/gempipe/mancor.txt
!validation/02_ralstonia/tools_runs/gempipe_rf/run.sh

!validation/03_pseudomonas/tools_runs/bactabolize/run.sh
!validation/03_pseudomonas/tools_runs/carveme/run.sh
!validation/03_pseudomonas/tools_runs/gapseq/run.sh
!validation/03_pseudomonas/tools_runs/gempipe/run.sh
!validation/03_pseudomonas/tools_runs/gempipe/mancor.txt
!validation/03_pseudomonas/tools_runs/gempipe_rf/run.sh



case_study/slurm
case_study/genomes_all
case_study/genomes_nomags
case_study/genomes_tf
case_study/reference/Lreuteri_530_fixed.*
case_study/fastani
case_study/gempipe
case_study/tables/gal_deficient.xlsx
case_study/tables/fru_competent.xlsx


case_study/escher
